<div class="container">
  <div class="header__title">
    <div class="row">
      <div class="col-xs-6">
        <h1>
          Managing claims
          <br />
          <span class="">made easy</span>
        </h1>
        <h4>A simple claim management application</h4>
      </div>
      <div class="col-xs-6 offset-md-2">
        <img
          src="../../assets/img/undraw_product_iteration_kjok.svg"
          class="header__img"
          alt="svg image"
        />
      </div>
    </div>
  </div>

  